
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Report</h2>

@Html.ActionLink("Preview All Customer", "AllCustomerReport", "Customers") </br>
@Html.ActionLink("Preview All Vendor", "AllVendorReport", "Vendors") </br>
@Html.ActionLink("Preview All New Job Request", "AllNewJobRequest", "CustomerJobRequests")</br>
@Html.ActionLink("Send Job Details to Vendor", "SendJobDetailsToVendorReport", "Jobs")</br>
@Html.ActionLink("Vendor Accept Estimate", "VendorAcceptEstimateReport", "Jobs")</br>
@Html.ActionLink("Vendor Start Work", "VendorStartWorkReport", "Jobs")</br>
@Html.ActionLink("Vendor Job Complete", "VendorJobCompleteReport", "Jobs")</br>



