@model IEnumerable<UtilityManagementSystem.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 
<a id="basic" href="#nada" class="button button-primary">Print Report</a>
<div class="demo twelve columns">
    <h2>All Customer List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>Phone #</th>
                <th>
                    Email
                </th>
                <th>
                    Address
                </th>
                <th>
                    Company Name
                </th>
               
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.companyName)
                </td>




            </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $('#basic').on("click", function () {
        $(".demo").printThis();
    });

</script>
