<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RCS</title>


    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    
</head>
 
@using UtilityManagementSystem.Models
 

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand" >

                  Utility Service                  
                </a>
            </div>

            <div class="notifications-wrapper">
                <ul class="nav">
                    <li><div style="padding-left:400px;"></div></li>

                    <li style="float:right;" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-cog"></i> User <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                          
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Logout", "UserHome")"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                    

                </ul>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <div id="menu">
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">

                        @{

        if (GlobalClass.LoginUser != null)
        {

                    <li class="me">
                        <a href="@Url.Action("Index", "Vendors")"><i class="fa fa-dashboard "></i>Vendor</a>
                    </li>

                    <li class="me">
                        <a href="@Url.Action("Index", "Customers")"><i class="fa fa-dashboard "></i>Customer</a>
                    </li>

                    <li class="me">
                        <a href="@Url.Action("Index", "ServiceTypes")"><i class="fa fa-dashboard "></i>Service Types</a>
                    </li>

                    <li class="me">
                        <a href="@Url.Action("Index", "JobStatus")"><i class="fa fa-dashboard "></i>Job Status</a>
                    </li>

                    <li class="me">
                        <a href="@Url.Action("Index", "CustomerJobRequests")"><i class="fa fa-dashboard "></i>New Job Request</a>
                    </li>

                   /* <li class="me">
                        <a href="@Url.Action("Index", "Jobs")"><i class="fa fa-dashboard "></i>Job On Process</a>
                    </li>
                    <li class="me">
                        <a href="@Url.Action("CompletedJob", "Jobs")"><i class="fa fa-dashboard "></i>Completed Job</a>
                    </li>

                    <li class="me">
                        <a href="@Url.Action("PaymentReceive", "Jobs")"><i class="fa fa-dashboard "></i>Payment Receive</a>
                    </li>

                    <li class="me">
                        <a href="@Url.Action("Index", "UtilityReport")"><i class="fa fa-dashboard "></i>Report</a>
                    </li>
                           */ 
                        }

                        }

                    </ul>
                </div>

            </nav>

        </div>
        <!-- /. SIDEBAR MENU (navbar-side) -->
        <div id="page-wrapper" class="page-wrapper-cls">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-head-line">@RenderSection("PageHeader", required: false)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                        @RenderSection("scripts", required: false)
                    </div>
                </div>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <footer>
        @*<img src="~/Content/ss_logo_small.png" height="70px" />*@ 
         Developed by Husna Afrin
    </footer>



</body>
</html>
