@model IEnumerable<UtilityManagementSystem.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 

<h2>All Job On Process List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
 
</p>

 
    <table class="table" id="printTable">
        <tr>
            <th>
                Customer
            </th>
            <th>
                JobName
            </th>

            <th>
                Job Type
            </th>
            <th>
                Vendor Name
            </th>
            <th>
                Invoice
            </th>
            <th>
                Service Description
            </th>
            <th>
                Vendor Starting Date
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerJobRequest.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorStartingDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "JobProcessEdit",new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }

    </table>

 
