@model IEnumerable<UtilityManagementSystem.Models.Job>

@{
    ViewBag.Title = "JobListForInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Job On Process List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" id="printTable">
    <tr>

        <th>
            JobName
        </th>

        <th>
            Job Type
        </th>
        <th>
            Vendor Name
        </th>
        <th>
            Invoice
        </th>
        <th>
            Service Description
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.CustomerJobRequest.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>


            <td>
                @Html.ActionLink("Select For Invoice", "InvoiceList", "VendorInvoice", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
