@model IEnumerable<UtilityManagementSystem.Models.Vendor>

@{
    ViewBag.Title = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>All Vendor List</h2>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Phon Number
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Company Name
            </th>
            

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.companyName)
                </td>
               

            </tr>
        }

    </table>
    </div>

    <script>
        $('#basic').on("click", function () {
            $(".demo").printThis();
        });

    </script>
